{{>layout/header}}
<h1>When2Meet Cloning Project</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/promise/save" role="botton"
               class="btn btn-primary">일정 추가</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active"
                   role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google"
                   class="btn btn-success active"
                   role="button">Google Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>일정번호</th>
            <th>일정이름</th>
            <th>일정 시작일</th>
            <th>일정 종료일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#promise}}
            <tr>
                <td>{{id}}</td>
                <td>{{N_NE}}</a></td>
                <td>{{WD_S}}</td>
                <td>{{WD_E}}</td>
            </tr>
        {{/promise}}
        </tbody>
    </table>
</div>
{{>layout/footer}}